In [302]:
import pandas as pd

In [303]:
data=pd.read_excel(r"C:\Users\DEV\Downloads\ML Live Flight Fare Resourses16963295320.xlsx")

In [304]:
data

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [305]:
data["Airline"].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [306]:
data["Additional_Info"].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [307]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [308]:
data["Additional_Info"].value_counts()

Additional_Info
No info                         8345
In-flight meal not included     1982
No check-in baggage included     320
1 Long layover                    19
Change airports                    7
Business class                     4
No Info                            3
1 Short layover                    1
Red-eye flight                     1
2 Long layover                     1
Name: count, dtype: int64

In [309]:
data.isnull().any()

Airline            False
Date_of_Journey    False
Source             False
Destination        False
Route               True
Dep_Time           False
Arrival_Time       False
Duration           False
Total_Stops         True
Additional_Info    False
Price              False
dtype: bool

In [310]:
data[data["Total_Stops"].isnull()].index

Index([9039], dtype='int64')

In [311]:
data.drop(data[data["Total_Stops"].isnull()].index,inplace=True)

In [312]:
data

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [313]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Date_of_Journey  10682 non-null  object
 2   Source           10682 non-null  object
 3   Destination      10682 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10682 non-null  object
 6   Arrival_Time     10682 non-null  object
 7   Duration         10682 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10682 non-null  object
 10  Price            10682 non-null  int64
dtypes: int64(1), object(10)
memory usage: 1001.4+ KB

In [314]:
data.drop(["Route","Additional_Info"],axis=1,inplace=True)

In [315]:
import warnings
warnings.filterwarnings("ignore")

In [316]:
pd.to_datetime(data["Date_of_Journey"]).dt.year.unique()

array([2019])

In [317]:
data["j_month"]=pd.to_datetime(data["Date_of_Journey"]).dt.month
data["j_day"]=pd.to_datetime(data["Date_of_Journey"]).dt.day

In [318]:
data

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,j_month,j_day
0,IndiGo,24/03/2019,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,non-stop,3897,3,24
1,Air India,1/05/2019,Kolkata,Banglore,05:50,13:15,7h 25m,2 stops,7662,5,1
2,Jet Airways,9/06/2019,Delhi,Cochin,09:25,04:25 10 Jun,19h,2 stops,13882,6,9
3,IndiGo,12/05/2019,Kolkata,Banglore,18:05,23:30,5h 25m,1 stop,6218,5,12
4,IndiGo,01/03/2019,Banglore,New Delhi,16:50,21:35,4h 45m,1 stop,13302,3,1
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,19:55,22:25,2h 30m,non-stop,4107,4,9
10679,Air India,27/04/2019,Kolkata,Banglore,20:45,23:20,2h 35m,non-stop,4145,4,27
10680,Jet Airways,27/04/2019,Banglore,Delhi,08:20,11:20,3h,non-stop,7229,4,27
10681,Vistara,01/03/2019,Banglore,New Delhi,11:30,14:10,2h 40m,non-stop,12648,3,1
10682,Air India,9/05/2019,Delhi,Cochin,10:55,19:15,8h 20m,2 stops,11753,5,9

In [319]:
data["d_hr"]=pd.to_datetime(data["Dep_Time"]).dt.hour
data["d_min"]=pd.to_datetime(data["Dep_Time"]).dt.minute

In [320]:
data["a_hr"]=pd.to_datetime(data["Arrival_Time"]).dt.hour
data["a_min"]=pd.to_datetime(data["Arrival_Time"]).dt.minute

In [321]:
data

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,j_month,j_day,d_hr,d_min,a_hr,a_min
0,IndiGo,24/03/2019,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,non-stop,3897,3,24,22,20,1,10
1,Air India,1/05/2019,Kolkata,Banglore,05:50,13:15,7h 25m,2 stops,7662,5,1,5,50,13,15
2,Jet Airways,9/06/2019,Delhi,Cochin,09:25,04:25 10 Jun,19h,2 stops,13882,6,9,9,25,4,25
3,IndiGo,12/05/2019,Kolkata,Banglore,18:05,23:30,5h 25m,1 stop,6218,5,12,18,5,23,30
4,IndiGo,01/03/2019,Banglore,New Delhi,16:50,21:35,4h 45m,1 stop,13302,3,1,16,50,21,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,19:55,22:25,2h 30m,non-stop,4107,4,9,19,55,22,25
10679,Air India,27/04/2019,Kolkata,Banglore,20:45,23:20,2h 35m,non-stop,4145,4,27,20,45,23,20
10680,Jet Airways,27/04/2019,Banglore,Delhi,08:20,11:20,3h,non-stop,7229,4,27,8,20,11,20
10681,Vistara,01/03/2019,Banglore,New Delhi,11:30,14:10,2h 40m,non-stop,12648,3,1,11,30,14,10
10682,Air India,9/05/2019,Delhi,Cochin,10:55,19:15,8h 20m,2 stops,11753,5,9,10,55,19,15

In [322]:
lis=data["Duration"]

In [323]:
new_lis=[]
for i in lis:
    if len(i.split(" "))==1:
        if "m" in i:
            i="0h "+i
        elif "h" in i:
            i=i+" 00m"
    new_lis.append(i)

In [324]:
data["Duration"]=new_lis

In [325]:
data["dur_hr"]=data["Duration"].str.split(" ").str[0].replace("h","",regex=True).astype(int)
data["dur_min"]=data["Duration"].str.split(" ").str[1].replace("m","",regex=True).astype(int)

In [326]:
data

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,j_month,j_day,d_hr,d_min,a_hr,a_min,dur_hr,dur_min
0,IndiGo,24/03/2019,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,non-stop,3897,3,24,22,20,1,10,2,50
1,Air India,1/05/2019,Kolkata,Banglore,05:50,13:15,7h 25m,2 stops,7662,5,1,5,50,13,15,7,25
2,Jet Airways,9/06/2019,Delhi,Cochin,09:25,04:25 10 Jun,19h 00m,2 stops,13882,6,9,9,25,4,25,19,0
3,IndiGo,12/05/2019,Kolkata,Banglore,18:05,23:30,5h 25m,1 stop,6218,5,12,18,5,23,30,5,25
4,IndiGo,01/03/2019,Banglore,New Delhi,16:50,21:35,4h 45m,1 stop,13302,3,1,16,50,21,35,4,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,19:55,22:25,2h 30m,non-stop,4107,4,9,19,55,22,25,2,30
10679,Air India,27/04/2019,Kolkata,Banglore,20:45,23:20,2h 35m,non-stop,4145,4,27,20,45,23,20,2,35
10680,Jet Airways,27/04/2019,Banglore,Delhi,08:20,11:20,3h 00m,non-stop,7229,4,27,8,20,11,20,3,0
10681,Vistara,01/03/2019,Banglore,New Delhi,11:30,14:10,2h 40m,non-stop,12648,3,1,11,30,14,10,2,40
10682,Air India,9/05/2019,Delhi,Cochin,10:55,19:15,8h 20m,2 stops,11753,5,9,10,55,19,15,8,20

In [327]:
data["Total_Stops"].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', '4 stops'],
      dtype=object)

In [328]:
data["Total_Stops"]=data["Total_Stops"].replace(['non-stop', '1 stop', '2 stops', '3 stops', '4 stops'],[0,1,2,3,4])

In [329]:
data["Destination"].nunique()

6

In [330]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()

In [331]:
# enc.fit_transform(data[["Airline,"Source","Destination"]])

In [332]:
data[["Airline","Source","Destination"]]=data[["Airline","Source","Destination"]].apply(enc.fit_transform)

In [333]:
data.drop(["Date_of_Journey","Dep_Time","Arrival_Time","Duration"],axis=1,inplace=True)

In [334]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Airline      10682 non-null  int32
 1   Source       10682 non-null  int32
 2   Destination  10682 non-null  int32
 3   Total_Stops  10682 non-null  int64
 4   Price        10682 non-null  int64
 5   j_month      10682 non-null  int32
 6   j_day        10682 non-null  int32
 7   d_hr         10682 non-null  int32
 8   d_min        10682 non-null  int32
 9   a_hr         10682 non-null  int32
 10  a_min        10682 non-null  int32
 11  dur_hr       10682 non-null  int32
 12  dur_min      10682 non-null  int32
dtypes: int32(11), int64(2)
memory usage: 709.4 KB

In [335]:
data.to_csv(r"C:\Users\DEV\OneDrive\Desktop\New folder\live project.csv",index=False)

In [336]:
x=data.drop(['Price'],axis=1)

In [337]:
y=data['Price']

In [338]:
from sklearn.linear_model import LinearRegression

In [339]:
reg=LinearRegression()

In [340]:
# reg.fit(x,y)

In [341]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 20)

In [342]:
reg.fit(x_train,y_train)

LinearRegression()

In [343]:
reg.score(x_train,y_train)

0.43946551591866456

In [344]:
reg.score(x_test,y_test)

0.42824719867881866

In [345]:
data

,Airline,Source,Destination,Total_Stops,Price,j_month,j_day,d_hr,d_min,a_hr,a_min,dur_hr,dur_min
0,3,0,5,0,3897,3,24,22,20,1,10,2,50
1,1,3,0,2,7662,5,1,5,50,13,15,7,25
2,4,2,1,2,13882,6,9,9,25,4,25,19,0
3,3,3,0,1,6218,5,12,18,5,23,30,5,25
4,3,0,5,1,13302,3,1,16,50,21,35,4,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,0,3,0,0,4107,4,9,19,55,22,25,2,30
10679,1,3,0,0,4145,4,27,20,45,23,20,2,35
10680,4,0,2,0,7229,4,27,8,20,11,20,3,0
10681,10,0,5,0,12648,3,1,11,30,14,10,2,40
10682,1,2,1,2,11753,5,9,10,55,19,15,8,20

In [346]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR

In [347]:
lis=[LinearRegression,DecisionTreeRegressor,RandomForestRegressor,KNeighborsRegressor,SVR]

In [350]:
for i in lis:
    model=i()
    model.fit(x_train,y_train)
    print(i)
    print(model.score(x_train,y_train))
    print(model.score(x_test,y_test))

<class 'sklearn.linear_model._base.LinearRegression'>
0.43946551591866456
0.42824719867881866
<class 'sklearn.tree._classes.DecisionTreeRegressor'>
0.9740605137111318
0.6356022669111623
<class 'sklearn.ensemble._forest.RandomForestRegressor'>
0.9561380029532593
0.7710378386038248
<class 'sklearn.neighbors._regression.KNeighborsRegressor'>
0.7490489739646682
0.6035848047158939
<class 'sklearn.svm._classes.SVR'>
0.0016947622508061144
0.003885439886894715

In [351]:
from sklearn.model_selection import cross_val_score , KFold

In [352]:
cross_val_score(RandomForestRegressor(),x,y,cv=KFold(4)).mean()

0.7974773847021732

In [355]:
for i in lis:
    model=i()
    print(i)
    print(cross_val_score(model,x,y,cv=KFold(4)).mean())

<class 'sklearn.linear_model._base.LinearRegression'>
0.434839455779174
<class 'sklearn.tree._classes.DecisionTreeRegressor'>
0.7006369072981335
<class 'sklearn.ensemble._forest.RandomForestRegressor'>
0.7982987530386525
<class 'sklearn.neighbors._regression.KNeighborsRegressor'>
0.6082593671261617
<class 'sklearn.svm._classes.SVR'>
0.004750879121763696

# implementation of random forest

In [356]:
Model=RandomForestRegressor()

In [358]:
Model.fit(x_train,y_train)
Model.score(x_train,y_train)

0.9563305552381154

In [359]:
Model.score(x_test,y_test)

0.773160756843071

# hyper-parametring

In [361]:
from sklearn.model_selection import RandomizedSearchCV

In [363]:
parameters={"n_estimators":[100,200,300,400],
            "max_features":['auto', 'sqrt','log2'],
            "max_depth":[2,3,4],
            "random_state":[20,30,40,50]}

In [364]:
grid=RandomizedSearchCV(Model,param_distributions=parameters,n_iter=50,cv=KFold(4))

In [365]:
grid.fit(x,y)

RandomizedSearchCV(cv=KFold(n_splits=4, random_state=None, shuffle=False),
                   estimator=RandomForestRegressor(), n_iter=50,
                   param_distributions={'max_depth': [2, 3, 4],
                                        'max_features': ['auto', 'sqrt',
                                                         'log2'],
                                        'n_estimators': [100, 200, 300, 400],
                                        'random_state': [20, 30, 40, 50]})

In [366]:
grid.best_score_

0.6368750304501546

In [367]:
grid.best_params_

{'random_state': 20,
 'n_estimators': 100,
 'max_features': 'auto',
 'max_depth': 4}

In [368]:
import joblib
joblib.dump(model,r"C:\Users\DEV\OneDrive\Desktop\New folder\ml_model.sav")

['C:\\Users\\DEV\\OneDrive\\Desktop\\New folder\\ml_model.sav']